<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body class="auth-page">
    <%- include("../partials/nav.ejs") %>
    <div class="auth-wrapper">
    <h1>Register</h1>
    <form class="auth-box" action="/auth/register" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <button type="submit" class="primary-button">Sign up</button>
    </form>
    </div>
  </body>
</html>
