*,
*::before,
*::after {
  box-sizing: border-box; /* Ensures padding and border are included in the element's total width and height */
}

/* Optional base styles */
body {
  margin: 0; /* Removes default body margin */
  padding: 0;
  line-height: 1.5; /* Improves readability */
}

.books-container {
  display: flex;
  flex-wrap: wrap;
}

.book-container {
  height: 250px;
  width: 250px;
}

.book-container img {
  height: 200px;
}
